name: Deploy to Firebase

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Create Functions Environment File
        run: |
          cat << 'EOF' > functions/.env
          SALLA_CLIENT_ID=476e7ed1-796c-4731-b145-73a13d0019de
          SALLA_CLIENT_SECRET=c8faa553c8ac45af0acb6306de00a388bf4e06027e4229944f5fe
          RESEND_API_KEY=re_9kVNNW8j_FV6SHD39ddc7mKkxHuHJSNmf
          GEMINI_API_KEY=AIzaSyBqzIqS_WSrfFnY5bVbEFqhZC79TEB9JKE
          EMAIL_FROM=ribh@ribh.click
          EOF
          
      - name: Install Functions Dependencies
        run: cd functions && npm install
        
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_RIBH_484706 }}'
          
      - name: Install Firebase CLI
        run: npm install -g firebase-tools
        
      - name: Deploy to Firebase
        run: firebase deploy --project ribh-484706 --force
